<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>

  <span><%= submit_tag "Log in", :class=>"btn btn-success" %></span>
  <span><%= link_to "Signup", signup_path, :class=>"btn btn-primary" %></span>
  <p><%= link_to "Forgotten Your Password?", new_password_reset_path %></p>
  <div class="field">
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %>
</div>
<% end %>