<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <span style="display:inline;"><%= f.label :email, :class => 'control-label' %></span>
    <span style="display:inline;"><%= f.text_field :email, :style=>"height:30px; width:220px;" %></span>
  </div>

  <div class="control-group">
    <span style="display:inline;"><%= f.label :password, :class => 'control-label' %></span>
    <span style="display:inline;"><%= f.password_field :password, :style=>"height:25px; width:220px;" %></span>
  </div>

  <div class="control-group">
    <span style="display:inline;"><%= f.label :password_confirmation, :class => 'control-label' %></span>
    <span><%= f.password_field :password_confirmation,  :style=>"height:25px; width:220px;" %></span>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
