<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag restaurants_path, :method => 'get', :id => "restaurants_search" do %>
  <p>
    <table>
      <tr><td style="padding-top:10px;">
    <%= text_field_tag :search, params[:search], :style=>"height: 30px; width: 390px;", :placeholder=>"Search by Restaurant Name..." %>

    <td style="padding-top:10px;">
    <%= text_field_tag :searchZip, params[:searchZip], :style=>"height: 30px; width: 250px;", :placeholder=>"Search by Zip Code..." %>
  </td>
  </td>
  <td style="padding-top:0px; padding-left: 10px;">
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
  </td>
  <td>
    <% if current_user %>
      <%= link_to "Add a Restaurant!", new_restaurant_path, :class => 'btn btn-success' %>
    <% end %>
  </td>
</tr>



</table>
  </p>
  <div id="restaurants">
  <%= render 'restaurants' %>
</div>
<% end %>
