<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag restaurants_path, :method => 'get', :id => "restaurants_search" do %>
  <p>
    <table>
      <tr><td style="padding-top:10px;">
    <%= text_field_tag :search, params[:search], :style=>"height: 30px; width: 390px;", :placeholder=>"Search by Restaurant Name..." %>

    <td style="padding-top:10px;">
    <%= text_field_tag :searchZip, params[:searchZip], :style=>"height: 30px; width: 250px;", :placeholder=>"Search by Zip Code..." %>
  </td>
  </td>
  <td style="padding-top:0px; padding-left: 10px;">
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
  </td>
  <td>
    <% if current_user %>
      <%= link_to "Add a Restaurant!", new_restaurant_path, :class => 'btn btn-success' %>
    <% end %>
  </td>
</tr>



</table>
  </p>
  <div id="restaurants">
<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <% @image = Image.find_by_restaurant_id(restaurant.id) %>
        <% if @image.nil? %>
          <td><div style="margin-left:20px; min-width: 400px;"><%= image_tag ("/assets/missing.png"), :style=>"display: inline-block; height: 200px; padding:4px;" %></div></td>
        <% else %>
          <td><div style="margin-left:20px; min-width:400px;"><%= image_tag @image.file, :style=>"display: inline-block; height: 200px; padding: 4px;" %></div></td>
        <% end %>
        <td>
          <div style="float:right; margin-right:20px;font-style: Helvetica;">
            <div>
              <%= link_to restaurant.name, restaurant_path(restaurant), :style=>"font-size: 25px;float:right;" %>
            </div>
            <div style="height:50px;"></div>
            <div style="float:right; font-size:14px;">
              <i>
                <% if restaurant.reputation_for(:votes).to_i == 0 %>
                  Unrated
                <% elsif restaurant.reputation_for(:votes).to_i > 0 %>
                  <%= pluralize restaurant.reputation_for(:votes).to_i, "Like" %>
                <% else %>
                  <%= pluralize restaurant.reputation_for(:votes).to_i.abs, "Dislike" %>
                <% end %>
              </i>
            </div>
            <div style="height:40px;"></div>
            <div style="float:right; font-size:16px;">
              <b>Ownership: </b><%= restaurant.status %>
            </div>
            <div style="height:30px;"></div>
            <div style="float:right; font-size:16px;">
              <b>Hours: </b><%= (restaurant.open_time).to_s + ":00 hrs" %> to <%= (restaurant.close_time).to_s + ":00 hrs" %>
            </div>
            <div style="height:30px;"></div>
            <div style="float:right; font-size:16px;">
              <b>About: </b>
              <% if restaurant.description.nil? || restaurant.description.length == 0 %>
                (No Description given)
              <% else %>
                <%= truncate(restaurant.description.to_s, length: 40, omission: '...') %>
              <% end %>
            </div>
            <div style="height:50px;"></div>
            <div style="float:right;">
              <% if !(current_user.nil?) %>
                <% if can? :edit, restaurant %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_restaurant_path(restaurant), :class => 'btn' %>
                <% else %>
                  <b><i>This Restaurant is exclusively owned.</i></b>
                  <div style="height:20px;"></div>
                <% end %>
                <span style="padding: 4px;">
                <%= link_to "Read", restaurant_path(restaurant), :class => 'btn', :style=>"float:right;" %>
              </span>
              <% else %>
              <span style="padding: 4px;">
                <%= link_to "Learn More", restaurant_path(restaurant), :class => 'btn' %>
              </span>
              <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
<%= will_paginate @restaurants %>
</center>
</div>
<% end %>
