<%- model_class = Restaurant -%>
<div style="padding-top: 20px; padding-bottom:20px;">
<%= link_to "Back to All Restaurants",restaurants_path, :class => 'btn' %>
<div style="float:right;">
  <% if !(current_user.nil?) %>
    <% if can? :edit, @restaurant %>
      <%= link_to "Edit Restaurant",
                  edit_restaurant_path(@restaurant), :class => 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
</div>
<div class="line-bottom"></div>
<div class="page-header" style="font-style: Helvetica;">
  <table class="table table-striped"><tr>
  <% @image = Image.find_by_restaurant_id(@restaurant.id) %>
        <% if @image.nil? %>
          <td><div style="margin-left:20px;"><%= image_tag ("/assets/missing.png"), :style=>"display: inline-block; height: 200px; padding:4px;" %></div></td>
        <% else %>
          <td><div style="margin-left:20px;"><%= image_tag @image.file, :style=>"display: inline-block; height: 200px; padding: 4px;" %></div></td>
        <% end %>
  <td><div style="float:right; margin-right:20px;">
  <h1><%= @restaurant.name %></h1>
  </div>
  <div style="height:100px;"></div>
  <div style="float:right; font-size:20px;margin-right:20px;">
  <b>Ownership: </b><%= @restaurant.status %>
  </div>
  <div style="height:30px;"></div>
  <div style="float:right; font-size:20px;margin-right:20px;">
  <b>Hours: </b><%= (@restaurant.open_time).to_s + ":00 hrs" %> to <%= (@restaurant.close_time).to_s + ":00 hrs" %>
            </div>
</td></tr></table>
</div>

<div style="font-style:Helvetica; font-size:20px;">
  <div>
    <dl>
      <div style="padding-top: 10px;margin-left:60px;">
        <dt><strong>About <%= @restaurant.name %></strong></dt>
        <% if !@restaurant.description.nil? &&
              !(@restaurant.description.length == 0) %>
          <dd><br><br><div style="font-size: 16px;"><%= @restaurant.description %></div></dd> <br>
        <% else %><br><dd><i>(No desciption currently available)</i></dd><br>
        <% end %><br>
      </div>
      <div class="line-bottom"></div>
      <div style="padding-top: 30px;margin-left:60px;">
      <dt><strong><%= model_class.human_attribute_name(:menu) %></strong></dt>
      <% if !(@menu.nil?) && !(@menu.length == 0) %>
        <br><br><table class="table table-striped">
        <% @menu.each do |item| %>
          <tr><td>
          <dd><%= image_tag ("/assets/small-star.gif"), :style => "height: 20px; width: 20px" %>&nbsp;&nbsp;&nbsp;<i><%= item %></i></dd></td></tr>
        <% end %>
        </table>
        <br>
      <% else %>
        <dd><br><i>(No menu currently available)</i></dd> <br>
      <% end %>
      </div>
    </dl>
  </div>
  <div class="line-bottom"></div>
  <div style="padding-top: 30px; margin-left: 60px;">
    <strong style="padding-left: 8px;">More Images</strong><br><br>
    <% @images.each do |image| %>
      <%= image_tag image.file.url(:medium), :style => "display: inline-block; padding: 8px; white-space: nowrap; float: left;" %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
<div class="line-bottom"></div>


<% if !(current_user.nil?) %>
    <% if can? :destroy, @restaurant %>
      <div class="form-actions">
        <center>
        <%= link_to "Delete This Restaurant",
                    restaurant_path(@restaurant),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
        </center>
      </div>
    <% end %>
  <% end %>