<%= form_for(@owner_request) do |f| %>
  <% if @owner_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner_request.errors.count, "error") %> prohibited this owner_request from being saved:</h2>

      <ul>
      <% @owner_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br />
    <%= f.number_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_name %><br />
    <%= f.text_field :restaurant_name %>
  </div>
  <div class="field">
    <%= f.label :granted %><br />
    <%= f.number_field :granted %>
  </div>
  <div class="field">
    <%= f.label :granted_by %><br />
    <%= f.number_field :granted_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
